.tarea {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgba(201, 189, 189, 0.466);
    border-radius: 15px;
  }
  
.descripcion {
  font-size: 18px;
}

.noDescripcion{
  font-size: 18px;
  text-decoration: line-through;
}

.barra {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 1fr 0.5fr 1.5fr 1fr;
  align-items: center;
  justify-content: center;
}

.textarea{
  height: 70%;
  border-radius: 15px;
}

.header{
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

.todas{
  font-weight: bold;
}

.search{
  color: lightgray;
}

.add{
  color: blue;
}

.borrar{
  color: brown;
}

.editar{
  color: lightskyblue ;
}

.uncheck{
  color: red;
}

.check{
  color: green;
}

.title{
  font-weight: 700;
}