.Tarea {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgba(201, 189, 189, 0.466);
    border-radius: 15px;
  }
  
  .Descripcion {
    font-size: 18px;
  }

.Barra {
  display: grid;
  grid-template-columns: 3fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}

.titulo{
  font-size: 25px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}